
<link rel="stylesheet" href="/css/home.css">

        <div id="habit-div">  
        <h1>" Motivation is what gets you Started Habit is What keeps you going on   "</h1>
       <div id="habit-inner-div"> <button type="button" id="add-habit" class="btn btn-secondary btn-lg">Add Habit</button>
        <a href="/weeklyView"><button type="submit" class="btn btn-secondary btn-lg"> Weekly view</button> </a></div>
      </div>

        <div id="create-habit">
                <%-include('create_habit')-%>
        </div> 
        <div class="outer-div">
                
                  
                <%for(let i=0;i<habits.length;i++){%>
                        <div class="card text-white bg-dark mb-3" id="card-<%=habits[i].id%>"> 
                                <div class="card-header"><div><%=habits[i].name%>  
                                        <%if(habits[i].favourite){%>
                                        <a href="/favourite/<%=habits[i].id%>" class="favourites" id="favourite-<%=habits[i].id%>" style="color: red;"> <i class="fas fa-heart " ></i> </a> 
                                         <%}else{%>
                                                <a href="/favourite/<%=habits[i].id%>" class="favourites" id="favourite-<%=habits[i].id%>" > <i class="fas fa-heart " ></i> </a> 
                                        
                                                <%}%>                                       
                                                <a href="/delete/<%=habits[i].id%>" class="delete-button" id="delete-<%=habits[i].id%>" >  <i class="fas fa-trash"></i> </a> 
                                         
                                        </div> <p><%=habits[i].time%></p> </div>
                                <div class="card-body">
                                  <h5 class="card-title"><%=habits[i].aim%></h5>
                                  <p class="card-text" id="days-<%=habits[i].id%>">No of days done:<%=habits[i].no_of_days_done%>/<%=habits[i].days.length%></p>
                                  <p class="card-text" id="currentStreak-<%=habits[i].id%>">Current Streak:<%=habits[i].current_streak%></p>
                                  <p class="card-text" id="bestStreak-<%=habits[i].id%>">Best Streak:<%=habits[i].longest_streak%></p>
                                  <a href="/update/<%=habits[i].id%>" class="update" ><button id="update-<%=habits[i].id%>" >
                                          <%if(habits[i].days[habits[i].days.length-1].status==0){%>
                                                                None
                                                <%} else if(habits[i].days[habits[i].days.length-1].status==1){%>
                                                               Not done
                                        <%}else{%>
                                                done
                                        <%}%>
                                  </button></a>
                                </div>
                              </div> 

                         <%}%>
                 </div>


<script src="/js/home.js"></script>
